<div class="bg-light">
  <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
          <div class="col-lg-6">
              <h1 class="display-4">Quem somos</h1>
              <p class="lead text-muted mb-0">Utilize a criatividade aqui!</p>
          </div>
          <div class="col-lg-6 d-none d-lg-block"><img
                  src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt=""
                  class="img-fluid"></div>
      </div>
  </div>
</div>

<!-- Teste -->
<header class=" container main-container d-flex justify-content-center ">
  <div class="container h-100">
    <div class="row text-center">
      <div class="col-lg-2">
        <img class="d-flex align-items-center" src="assets/somos.jpg.jpg"/>
      </div>
      <div class="col-lg-14">
        <h1 class="display-8 text-dark mt-5 mb-2">Quem somos</h1>
        </div>
    </div>
  </div>
</header>

<div class="bg-light py-5">
  <div class="container py-5">
      <div class="row mb-4">
          <div class="col-lg-5">
              <h2 class="display-4 font-weight-light">Our team</h2>
              <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
      </div>
      </div>
    </div>

<!-- Original -->
<div class="container" style="padding-top: 100px;">
  <div class="row">
      <div class="col-sm-10">
        <h2>...</h2>
        <h4>...</h4>
        <p>...</p>
        <button class="btn btn-default btn-lg">Get in Touch</button>
      </div>
      <div class="col-sm-6">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
  </div>
  
  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo"></span>
      </div>
      <div class="col-sm-8">
        <h2>Sobre nos</h2>
        <br>
        <br>
        <br>
        <h4><strong>Missão:</strong> nossa missão</h4>
        <br>
        <br>
        <br>
        <p><strong>Visão:</strong> Nossa visão</p>
      </div>
  </div>
</div>